@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,782;1,782&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,105.5,473;1,105.5,473&family=Open+Sans:ital,wght@0,782;1,782&display=swap");
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
